<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)"
                   [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title" *ngIf="!updateFlag">Add SLA Support Group</div>
    <div class="modal-title" *ngIf="updateFlag">Update SLA Support Group</div>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
              (change)="onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organization" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="selectedSlaName"
              (change)="onSlaNameChange($event.target.selectedIndex)">
        <option value="0">Select SLA Name</option>
        <option *ngFor="let sla of slaNames" [value]="sla.id">{{sla.slaname}}</option>
      </select>
    </div>
<!--    <div class="form-group">-->
<!--      <select class="custom-select font-13 radius-0" [(ngModel)]="selectedSlaCriteria"-->
<!--              (change)="onSlaCriteriaChange($event.target.selectedIndex)">-->
<!--        <option value="0">SLA Fullfilment Criteria</option>-->
<!--        <option *ngFor="let criteria of slaCriteria" [value]="criteria.id">{{criteria.slaname}}</option>-->
<!--      </select>-->
<!--    </div>-->
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="groupid" (change)="onGroupChange($event.target.selectedIndex)">
        <option value="0">SLA Support Group</option>
        <option *ngFor="let grp of groups;" [value]="grp.id">{{grp.supportgroupname}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="save()" *ngIf="!updateFlag">Save</button>
    <button type="button" class="btn btn-success radius-0" (click)="update()" *ngIf="updateFlag">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>

