<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)" [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title" [hidden]="isUpdate">Add Dashboard Save Query</div>
    <div class="modal-title" [hidden]="!isUpdate">Update Dashboard Save Query</div>
  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="clientSelected"
              (change)="onClientChange($event.target.selectedIndex)">
        <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
              (change)="onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organaisation" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="fieldSelected"
              (change)="onFieldChange($event.target.selectedIndex)">
        <option *ngFor="let field of fields" [value]="field.id">{{field.name}}</option>
      </select>
    </div>
    <!--<div class="form-group" [hidden]="fieldSelected !== '1'">
      <mat-checkbox class=" font-13" [(ngModel)]="isCatalog" (change)="onFieldChange()">Catalog Menu</mat-checkbox>
    </div>-->
    <div class="form-group mar-bot-0 font-13" [hidden]="fieldSelected !== '1'">
      <label><b>Management View </b></label>&nbsp;
      <mat-radio-group (change)="onRadioButtonChange($event)" [(ngModel)]="tileType">
        <mat-radio-button value="1">My Workspace</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="2">Team Workspace</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="3">Opened By / Requested By</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="4">Catalog Menu</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="tileIdSelected"
              (change)="onTileNameChange($event.target.selectedIndex)">
        <option value="0">Select Tiles Name</option>
        <option *ngFor="let field of fieldValues" [value]="field.funcdescid">{{field.description}}</option>
      </select>
    </div>
    <div [hidden]="tileType === '4'">
      <div class="form-group">
        <select class="form-control font-13 radius-0" [(ngModel)]="fromRecordDiffTypeSeqno"
                (change)="getrecordbydifftype($event.target.selectedIndex, 'from')">
          <option value="">Select From Property Type</option>
          <option *ngFor="let record of recordTypeStatus;" [value]="record.id">{{record.typename}}</option>
        </select>
      </div>
      <div class="form-group" [hidden]="fromPropLevels.length===0">
        <select class="form-control font-13 radius-0" [(ngModel)]="fromlevelid"
                (change)="onLevelChange($event.target.selectedIndex, 'from')">
          <option value="">Select Property Level</option>
          <option *ngFor="let level of fromPropLevels" [value]="level.id">{{level.typename}}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control font-13 radius-0" [(ngModel)]="fromRecordDiffId"
                (change)="getrecordvalue($event.target.selectedIndex)">
          <option value="">Select From Property</option>
          <option *ngFor="let record of formTicketTypeList;" [value]="record.id">{{record.typename}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="queryType"
              (change)="onQueryTypeChange($event.target.selectedIndex)">
        <option *ngFor="let query of queryTypes" [value]="query.id">{{query.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control radius-0 font-13" [(ngModel)]="query"
                placeholder="Enter Query"></textarea>
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control radius-0 font-13" [(ngModel)]="params"
                placeholder="Enter Parameters"></textarea>
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control font-13 radius-0"
                placeholder="Enter JSON Query" [(ngModel)]="jsonQuery"></textarea>
    </div>


  </div>
  <div class="modal-footer pad-8">
    <button type="button" [hidden]="isUpdate" class="btn btn-success radius-0" (click)="save()">Save</button>
    <button type="button" [hidden]="!isUpdate" class="btn btn-success radius-0" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>


<!--<notifier-container></notifier-container>-->
