<!-- <div class="loader" [hidden]="dataLoaded"><img class="loading-gif" src="../../../assets/img/loader.gif"></div>
<div class="dasboard-width">
  <div class="row header mar-lft-rgt-0">
    <div class="col-md-4 col-sm-4 pageName">{{displayData.pageName}}</div>
  </div>
</div>

<div class="row content mr-top-5 mar-lft-rgt-0">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header card-header-top">
        <div class="col-md-4 mar-lft-rgt-0">
          {{displayData.tabName}}
        </div>
        <div class="col-md-8 mar-lft-rgt-0  row pull-right ">

        </div>
      </div>
      <div class="card-body">
        <div class="container-fluid mar-top-15 coming">
          
            
            <img src="../../assets/img/coming_soon.jpg">
          
        </div>
      </div>
    </div>
  </div>
</div> -->



  <div id="h">
    <div class="container">
      <div class="row">
        
          <h1>COMING SOON</h1>
         
          
         
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  

