.header-menu .col-sm-7 {
  position: inherit;

}

.navbar .navbar-brand img {
  max-width: 160px;
  margin-left: -15px;
}


.sidenav {
  width: 20%;
  position: absolute;
  top: 55px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: rgb(63, 60, 60);
}

.closesidenav {
  width: 5%;
  position: absolute;
  top: 68px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: rgb(63, 60, 60);

}


.example-container {
  width: 100%;
  height: 100%;

  
}


.sidenav .navbar-brand img {
  max-width: 160px;
}


mat-drawer-content {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.menutoggle {
  background: #000000;
  border-radius: 50%;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  line-height: 44px;
  margin: -2px 20px 0 -57px;
  text-align: center;
  width: 43px;
  z-index: 3;
  position: relative;
}

.open .fa-tasks:before {
  content: "\f0ae" !important;
}

.fa-tasks:before {
  content: "\f0a4" !important;

}

.fa-dashboard:before .fa-tachometer:before {
  content: "\f0a4";
}


.fa-search:before {
  content: "\f002";

}


.fa-bell:before {
  content: "\f0f3";
  cursor: pointer;

}

.dashname {
  padding: 10px 15px;
  /*border-bottom: 1px solid #818181;*/
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 100%;

}

.dashname img {
  margin-right: 10px;
}


.menuitemsingle a i {
  padding-left: 8% !important;
  padding-right: 12%;

}

.menuitemsingle1 a i {
  margin-left: 30%;

}
.pad-lft-2 {
  padding-left: 2%;
}
.margin-lt {
  margin-left: 0%;
  margin-top: 0%;
  padding: 0px;

}
.mar-pad-0 {
  margin: 0px;
  padding: 0px;
}
.width-box {
  width: 10%;
}
.sidenavbar .menu-icon {
  color: #fff !important;
  font-size: 20px;
  z-index: -1;
  width: inherit;
}


.sidenavbar1 .menu-icon {
  color: #fff !important;
  font-size: 20px;
  z-index: -1;
  width: inherit;


}
.banner{
  font-weight:600;
}

.mar-dashname {
  color: white;
  font-size: 15px;
  margin-left: 2%;
}

/* @media (min-width: 30px){
   .user-area .mar-username {
    cursor: pointer;
    display: inline-block;
    color: black;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 57px;
    position:relative;
    top: 5px;
  }
} */

@media (min-width: 50px){
  .user-area .mar-username {
    cursor: pointer;
    display: inline-block;
    color: black;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    position:relative;
    top: 20px;
  }
}

.mar-username{
  height: 40px;
  width: 74px;
  /* position:relative;
  top: 5px; */
}

.sidenavbar1 {
  padding-top: 15%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}


.navbar-style {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  /*height: 12%;*/
  height: 60px;
  padding: 0px;
  margin: 0px;


}

#navbarId {
  background-image: linear-gradient(to left, white 80%, #e9e9e9 20%);

}

.cursor-pointer {
  cursor: pointer;
}


.mar-lft {
  margin-left: 0%;
}


.example-container1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 68px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: width 2s;

}


.menuitemsingle {
  color: #d7d9e3 !important;
  width: 100%;
  padding-top: 5%;

}


.menuitemsingle1 {
  width: 100%;
  padding-top: 20%;

}


.dropdown-toggle {
  background: transparent;
  border: none;
  color: #272c33;
  font-size: 15px;
  outline: none;
}

.span1 {
  color: #483d8b;
}

.span2 {
  color: #ff0000;
}


.pad-lft-rgt-0 {
  padding: 0px;
  margin: 0px;
}

.mar-top {
  margin-top: 60px;
}

.dashfoot {
  position: fixed;
  width: 100%;
  bottom: 0px;
  /* color: rgb(31, 31, 31); */
  left: 0;
  border-top: 1px solid;
  background-color: rgb(217, 221, 218);;
}


.font-13 {
  font: 10px;
}


.user-logo1 {
  display: none;
}


.mat-list-base .mat-list-item {
  font-size: 14px;
  color: white !important;
}


.profile {
  height: 40px;
  width: 40px;
}


.widthx {
  width: 100%;
  position: relative;

}

@media (max-width: 400px) {

  .user-logo {

    height: 25px;
    width: 95px;

  }

  #navbarId {
    background-image: linear-gradient(to left, #d6d2d2 80%, #d6d2d2 20%);

  }

}

/* @media (max-width: 1600px) {
  .logo-dash1 {
    height: 40px !important;
    width: 80px!important;
  }
}

@media (max-width: 1500px) {
  .logo-dash1 {
    height: 40px !important;
    width: 66px!important;
  }
}

@media (max-width: 1400px) {
  .logo-dash1 {
    height: 40px !important;
    width: 50px !important;
  }
}

@media (max-width: 1302px) {
  .logo-dash1 {
    height: 40px !important;
    width: 42px !important;
  }
}

@media (max-width: 1255px) {
  .logo-dash1 {
    height: 40px !important;
    width: 38px !important;
  }
}

@media (max-width: 1231px) {
  .logo-dash1 {
    height: 40px !important;
    width: 34px !important;
  }
} */

@media (max-width: 382px) {
  .logo-dash1 {
    height: 25px !important;
    width: 33px !important;
  }
}

@media (max-width: 900px) {

  .user-logo {

    height: 25px;
    width: 95px;

  }

  #navbarId {
    background-image: linear-gradient(to left, #d6d2d2 80%, #d6d2d2 20%);

  }

}

@media (max-width: 382px) {
  .user-logo1 {
    display: none !important;
  }

  .sidenav {
    width: 100%;
    height: 50%;
  }

}


@media (max-width: 575px) {

  .user-logo {

    height: 25px;
    width: 95px;

  }

  #navbarId {
    background-image: linear-gradient(to left, #d6d2d2 80%, #d6d2d2 20%);

  }

  .margin-lt {
    width: 40% !important;
  }

  .user-logo {
    display: none;
  }

  .user-logo1 {
    display: block;
    width: 30px;
  }


  .width-box {
    width: 30%;
  }

  .widthx {
    width: 35%;
  }

  .profile {
    height: 25px;
    width: 25px;
  }

  .mar-username{
    height: 25px;
    width: 25px;
    /* position:relative;
    top: 5px; */
  }


}

.logo-dash {
  height: 34px;
  width: 38px;
}

.logo-dash1{
  height: 40px;
  width: 100px;
}


/* ------------------------------------------------- */


.header-left .dropdown {
  display: inherit;
}

.count {
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  right: 0;
  top: 0;
  left: 20px;
  position: absolute;
  padding-left: 4px;

}

.header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
  background: none !important;
  border-color: transparent !important;
  color: #272c33 !important;
}

.header-left .dropdown .dropdown-menu {
  display: inherit !important;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  top: 49px !important;
}

.header-left .dropdown .dropdown-menu p {
  font-size: 15px;
  margin: 0;
  padding: 5px 15px;
}

.header-left .dropdown .dropdown-menu .dropdown-item {
  color: #272c33;
  font-size: 13px;
  padding: 10px 15px 3px;
  text-overflow: ellipsis;
}

.header-left .dropdown .dropdown-menu .dropdown-item .photo {
  float: left;
  margin-right: 15px;
  width: 25px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .name {
  margin-top: -5px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .time {
  font-size: 11px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message p {
  clear: both;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

.header-left .dropdown .dropdown-menu .dropdown-item:hover {
  background: transparent;
}


/* -------------------------------------------------------------------------------------------------------------------- */


.bg-flat-color-1 {
  background: #20a8d8;
}

.bg-flat-color-2 {
  background: #63c2de;
}

.bg-flat-color-3 {
  background: #ffc107;
}

.bg-flat-color-4 {
  background: #f86c6b;
}

.bg-flat-color-5 {
  background: #4dbd74;
}


/* ------------------------------------------------------------------ */
.header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
  background: none !important;
  border-color: transparent !important;
  color: #272c33 !important;
}

.header-left .dropdown .dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  top: 49px !important;
}

.header-left .dropdown .dropdown-menu p {
  font-size: 15px;
  margin: 0;
  padding: 5px 15px;
}

.header-left .dropdown .dropdown-menu .dropdown-item {
  color: #272c33;
  font-size: 13px;
  padding: 10px 15px 3px;
  text-overflow: ellipsis;
}

.photo {
  float: left;
  margin-right: 15px;
  width: 25px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .name {
  margin-top: -5px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .time {
  font-size: 11px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message p {
  clear: both;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

.header-left .dropdown .dropdown-menu .dropdown-item:hover {
  background: transparent;
}

.dropdown-menu {
  border-radius: 0;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.for-notification .dropdown-menu .dropdown-item {
  padding: 5px 15px !important;
  text-overflow: ellipsis;
}

.for-notification .dropdown-menu .dropdown-item i {
  float: left;
  font-size: 14px;
  margin: 5px 5px 0 0;
  text-align: left;
  width: 20px;
}

.for-notification .dropdown-menu .dropdown-item p {
  padding: 0 !important;
  text-overflow: ellipsis;
}


/* ------------------------------------------------------------------------------------------------------------ */


.user-area {
  float: right;
  padding-right: 0;
  position: relative;
}

.user-area .user-menu {
  background: #fff;
  border: none;
  font-family: 'Open Sans';
  left: inherit !important;
  right: 0;
  top: 55px !important;
  margin: 0;
  max-width: 166px;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 999;
  min-width: 150px;
}

.user-area .user-menu .nav-link {
  /* color: #272c33; */
  display: block;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0;
}


.user-area .dropdown-menu {
  display: block !important;
}


.user-area .user-avatar {
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  font-weight: 500;
  color: #483d8b;
  margin-top: -6px;
}

.right {
  float: right;
}

.radius-0 {
  border-radius: 0px;
}

.note {
  font-size: 12px;
  background-color: #faebd7;
  color: #000000;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 8px;
}

.para {
  font-size: 19px;
  margin-left: 5px;
}

.unList {
  list-style-position: inside;
  padding-left: 18px;
}

.themeSelect:active,
 .themeSelect:focus
 {
     border: 2px solid rgb(52, 126, 187); /* here configure as your needs */
     color:rgb(52, 126, 187);
  }

  .searching{
    width: 70%;
    box-sizing: border-box;
    /*border: 2px solid rgb(146, 145, 145);*/
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    background-image: url(https://i.imgur.com/MACjo6S.png);
    background-position: 7px 10px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

  .searching:focus {
      width: 100%;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 35px;
  background-color: white;
  border-radius: 30px;
  padding: 6px 25px;
  /*border: 2px solid blue;*/
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: white;
  width: 90%;
  line-height: 22px;
}

.themeLable{
  padding-top: 7%;
}





