<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)" [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title" *ngIf="!isEdit">Add Asset Attribute</div>
    <div class="modal-title" *ngIf="isEdit">Update Asset Attribute</div>

  </div>
  <div class="modal-body">
    <div class="none" *ngIf="isError" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>

    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
              (change)="onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organaisation" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>

    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="diffTypeId"
              (change)="onDiffTypeChange($event.target.selectedIndex)">
        <option *ngFor="let property of diffTypes" [value]="property.id">{{property.typename}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="labelId"
              (change)="onPropertyValueChange($event.target.selectedIndex)">
        <option *ngFor="let proValue of labelValues" [value]="proValue.id">{{proValue.typename}}</option>
      </select>
    </div>
    <!--    <div class="form-group">-->
    <!--      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="diffId"-->
    <!--              (change)="onProValueChange1($event.target.selectedIndex)">-->
    <!--        <option *ngFor="let proVal1 of diffValues" [value]="proVal1.id">{{proVal1.typename}}</option>-->
    <!--      </select>-->
    <!--    </div>-->


    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" [(ngModel)]="assetAttribute"
             placeholder="Enter Asset Attribute">
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" *ngIf="!isEdit" (click)="save()">Save</button>
    <button type="button" class="btn btn-success radius-0" *ngIf="isEdit" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>


<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Update Asset Attribute</div>

  </div>
  <div class="modal-body">
    <div class="none" *ngIf="isError" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>

    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
              (change)="onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organaisation" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" [(ngModel)]="assetAttribute"
             placeholder="Enter asset Attribute">
    </div>

  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>


<!--<notifier-container></notifier-container>-->

