<!--<notifier-container></notifier-container>-->
<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)" [totalPage]="totalPage"
                   [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header modalTitle">
    <div class="modal-title">Add Module</div>

  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>

    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" [(ngModel)]="moduleName"
             placeholder="Module Name">
    </div>


    <div class="form-group">
      <textarea class="form-control radius-0 font-13" [(ngModel)]="description" placeholder="Module Description"
                required></textarea>
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>


<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Update Module</div>

  </div>
  <div class="modal-body">


    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Module Name :</b></label>
      <div class="col-sm-8 col-md-8">
        <input type="text" class="form-control radius-0 font-13" [(ngModel)]="moduleName"
               placeholder="Module Name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-sm-4 col-form-label font-13"><b>Module Description :</b></label>
      <div class="col-sm-8 col-md-8">
        <textarea class="form-control radius-0 font-13" [(ngModel)]="description" placeholder="Module Description"
                  required></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>




