<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)"
                   [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Add Record Terms</div>

  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"  (change) = "onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organization" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="termNameSelected" (change)="onTermNameChange($event.target.selectedIndex)">
        <option *ngFor="let term of termNames" [value]="term.id">{{term.termname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="recordTypeIdSelected" (change)="onRecordTypeIdChange($event.target.selectedIndex)">
        <option *ngFor="let term of recordTypeIds" [value]="term.id">{{term.typename}}</option>
      </select>
    </div>
    <div class="form-group" [hidden]="propLevels.length===0">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="levelid"
              (change)="onLevelChange($event.target.selectedIndex,'from')">
        <option *ngFor="let level of propLevels" [value]="level.id">{{level.typename}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="recordTypeNameSelected" (change)="onRecordTypeNameChange($event.target.selectedIndex)">
        <option value=0>Property Value</option>
        <option *ngFor="let type of recordTypeNames" [value]="type.id">{{type.typename}}</option>
      </select>
    </div>
    <div class="form-group ticket-menu">
      <mat-checkbox class ="font-13" [(ngModel)]="isMandatory">Is Mandatory</mat-checkbox>
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Update Record Terms</div>
  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>
    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" [(ngModel)]="organizationName" readonly>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="selectedTermName" (change)="onTermNameChange($event.target.selectedIndex)">
        <option *ngFor="let term of termNames" [value]="term.id">{{term.termname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="selectedRecordTypeId" (change)="onRecordTypeIdChange($event.target.selectedIndex)">
        <option *ngFor="let term of recordTypeIds" [value]="term.id">{{term.typename}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select font-13 radius-0" [(ngModel)]="selectedRecordTypeName" (change)="onRecordTypeNameChange($event.target.selectedIndex)">
        <option value=0>Property Value</option>
        <option *ngFor="let type of recordTypeNames" [value]="type.id">{{type.typename}}</option>
      </select>
    </div>
    <div class="form-group ticket-menu">
      <mat-checkbox class ="font-13" [(ngModel)]="isMandatory1">Is Mandatory</mat-checkbox>
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="update()">Save</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>

