<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
                   (offset)="getData($event)"
                   (pageSize)="onPageSizeChange($event)"
                   [dataLoaded]="dataLoaded"></app-base-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title" *ngIf="!isEdit">Add SLA Term</div>
    <div class="modal-title" *ngIf="isEdit">Update SLA Term Entry</div>
  </div>

  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>

    <fieldset>
    <legend>From</legend>

    <!-- <div class="form-group row">
     <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>Client :</b></label>
        <div class="col-sm-7 col-md-7">
            <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="clientSelected"
                    (change)="onClientChange($event.target.selectedIndex)">
                <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
            </select>
        </div>    
    </div>

    <div class="form-group row">
     <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>Organization :</b></label>
        <div class="col-sm-7 col-md-7">
            <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
                    (change)="onOrgChange($event.target.selectedIndex)">
                    <option value="0">Select Organization </option>  
                <option *ngFor="let org of organization" [value]="org.id">{{org.organizationname}}</option>
            </select>
        </div>
    </div> -->


    <div class="form-group row">
        <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>Meter Type:</b></label>
          <div class="col-sm-7 col-md-7">  
            <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="selectedMeter" 
                (change)="onMeterChange($event.target.selectedIndex)">
                <option value="0">Select SLA Meter</option>
                <option *ngFor="let meter of meters;" [value]="meter.id">{{meter.name}}</option>
              </select>    
          </div>    
    </div>


    <div class="form-group row ticket-menu" [hidden]="slaTermsNames.length===0">
      <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>SLA Term Name:</b></label>
        <div class="col-sm-7 col-md-7">  
            <mat-checkbox class="font-13" *ngFor="let slaTermsName of slaTermsNames" value="{{slaTermsName.id}}"
              [(ngModel)]="slaTermsName.checked">{{slaTermsName.name}}</mat-checkbox>
        </div>    
    </div>   


    </fieldset>
    <div class="container">
    </div>
    <fieldset>
    <legend>To</legend>

    <div class="form-group row">
      <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>Client :</b></label>
         <div class="col-sm-7 col-md-7">
             <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="toClientSelected"
                     (change)="onToClientChange($event.target.selectedIndex)">
                 <option *ngFor="let client of toclients" [value]="client.id">{{client.name}}</option>
             </select>
         </div>    
     </div>  

    <div class="form-group row">
     <label  class="col-sm-5 col-md-5 col-form-label font-13"><b>Organization :</b></label>
        <div class="col-sm-7 col-md-7">
                <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelectedto" 
                          (change)="onOrgChangeto($event.target.selectedIndex)">
                  <option value="0">Select Organization </option>  
                  <option *ngFor="let org of organizationto" [value]="org.id">{{org.organizationname}}</option>
                </select>
        </div>
    </div>

    </fieldset>

  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0"  *ngIf="!isEdit" (click)="save()">Save</button>
     <button type="button" class="btn btn-success radius-0" *ngIf="isEdit" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0"   (click)="c()">Cancel</button>
  </div>
</ng-template>
