<div class="div-container">
  <div class="limiter back">
    <div class="container-login100">
      <div class="login100-more bg-image"></div>
      <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
        <!--<form class="login100-form validate-form">-->
        <!--<span class="login100-form-title p-b-15">
						<img src="../../assets/img/logo.png" alt="">
					</span>-->
          <!-- <img id="displayImage"> -->
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" [(ngModel)]="userName" placeholder="Enter User Name">
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" [(ngModel)]="clientCode" placeholder="Enter Client Code">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" [(ngModel)]="password" placeholder="Enter Password">
        </div>
        <div class="forgtsec">
<!--          <a href="#" class="notankr"> Not Registered Yet?</a>-->
<!--          <a href="#" class="frgtankr "> Forget Password?</a>-->
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="login()" [disabled]="isLoggedin">
              Login
            </button>
          </div>
        </div>
        <!--<div class="social text-center">
          <small><b>&copy; Copyright {{currentYear}} <span class="red">i</span><span class="blue">FIX</span> tech Global | All Rights Reserved </b></small>
        </div>
        <footer class=" dashfoot text-center">
          <small><b>&copy; Copyright {{currentYear}} <span class="red">i</span><span class="blue">FIX</span> tech Global | All Rights Reserved </b></small>
        </footer>-->
        <!--<div class="social text-center">
          <a href="#"><img src="../../assets/img/linkdin.png" alt=""></a>
          <a href="#"><img src="../../assets/img/facebook.png" alt=""></a>
          <a href="#"><img src="../../assets/img/twittr.png" alt=""></a>
          <a href="#"><img src="../../assets/img/instra.png" alt=""></a>
          <a href="#"><img src="../../assets/img/youtube.png" alt=""></a>
        </div>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body confrimMssg">
    <pre>{{confrimMssg}}</pre>
    <pre class="confrimMssg1">{{confrimMssg1}}</pre>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="redirect()">Ok</button>
  </div>
</ng-template>
<!--<notifier-container></notifier-container>-->
