<app-base-template (modal)="openModal(content)" (tabledata)="getTableData()" [displayData]="displayData"
  (offset)="getData($event)" (pageSize)="onPageSizeChange($event)" [dataLoaded]="dataLoaded"></app-base-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Module Role Map</div>

  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>
    <div class="form-group" [hidden]="notAdmin">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="clientSelected"
        (change)="onClientChange($event.target.selectedIndex)">
        <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="orgSelected"
        (change)="onOrgChange($event.target.selectedIndex)">
        <option *ngFor="let org of organaisation" [value]="org.id">{{org.organizationname}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="moduleSelected"
        (change)="onModuleChange($event.target.selectedIndex, 'i')">
        <option *ngFor="let mod of modules" [value]="mod.id">{{mod.modulename}}</option>
      </select>
    </div>
    <div class="form-group">
      <!-- <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="parentSelected" (change)="onParentChange($event.target.selectedIndex)">
        <option *ngFor="let parent of parents" [value]="parent.id">{{parent.menudesc}}</option>
      </select> -->

      <ng-select [items]="parents" bindLabel="menudesc" bindValue="id" [closeOnSelect]="false" [multiple]="true"
        groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false" appendTo="body"
        [searchable]="true" placeholder="Select Menu" [(ngModel)]="parentSelected">

        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value" *ngFor="let item of (items ? items.slice(0,4): [])">
            <span class="ng-value-label"> {{item.menudesc}}</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 4">
            <span class="ng-value-label">{{items.length - 4}} more...</span>
          </div>
        </ng-template>

        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;Select All
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;{{item.menudesc}}
        </ng-template>
      </ng-select>
    </div>
    <div class="form-group">
      <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="roleSelected"
        (change)="onRoleChange($event.target.selectedIndex)">
        <option *ngFor="let rl of role" [value]="rl.id">{{rl.rolename}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" placeholder="Enter Login ID OR Name"
        [(ngModel)]="userSelected" matInput [formControl]="searchUser" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getUserDetails()">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let user of users" [value]="user.loginname">
            {{ user.name }} - {{user.loginname}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <input type="text" class="form-control radius-0 font-13" placeholder="User Name" readonly [(ngModel)]="userName">
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header modalTitle">
    <div class="modal-title">Update Module Role Map</div>

  </div>
  <div class="modal-body">
    <div class="none" [ngClass]="{'inputError':isError}">{{errorMessage}}</div>

    <div class="form-group row" [hidden]="notAdmin">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Client Name :</b></label>
      <div class="col-sm-8 col-md-8">
        <input type="text" class="form-control radius-0 font-13" [(ngModel)]="clientSelectedName" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Organization Name :</b></label>
      <div class="col-sm-8 col-md-8">
        <input type="text" class="form-control radius-0 font-13" [(ngModel)]="orgSelectedName" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Module Select :</b></label>
      <div class="col-sm-8 col-md-8">
        <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="moduleSelected1"
          (change)="onModuleChange($event.target.selectedIndex, 'u')">
          <option *ngFor="let mod of modules" [value]="mod.id">{{mod.modulename}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Menu Select :</b></label>
      <div class="col-sm-8 col-md-8">
        <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="parentSelected1"
          (change)="onParentChange($event.target.selectedIndex)">
          <option *ngFor="let parent of parents" [value]="parent.id">{{parent.menudesc}}</option>
        </select>

        <!-- <ng-select [items]="parents" bindLabel="menudesc" bindValue="id" [closeOnSelect]="false" [multiple]="true"
          groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false" appendTo="body"
          [searchable]="true" placeholder="Select Menu" [(ngModel)]="parentSelected">

          <ng-template ng-multi-label-tmp let-items="items">
            <div class="ng-value" *ngFor="let item of (items ? items.slice(0,4): [])">
              <span class="ng-value-label"> {{item.menudesc}}</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 4">
              <span class="ng-value-label">{{items.length - 4}} more...</span>
            </div>
          </ng-template>

          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;Select All
          </ng-template>

          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;&nbsp;{{item.menudesc}}
          </ng-template>
        </ng-select> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Role Select :</b></label>
      <div class="col-sm-8 col-md-8">
        <select class="custom-select mr-sm-2 radius-0 font-13" [(ngModel)]="roleSelected"
          (change)="onRoleChange($event.target.selectedIndex)">
          <option *ngFor="let rl of role" [value]="rl.id">{{rl.rolename}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>Login ID OR Name :</b></label>
      <div class="col-sm-8 col-md-8">
        <input type="text" class="form-control radius-0 font-13" placeholder="Enter Login ID OR Name"
          [(ngModel)]="userSelected" matInput [formControl]="searchUser" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getUserDetails()">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of users" [value]="user.loginname">
              {{ user.name }} - {{user.loginname}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-4 col-form-label font-13"><b>User Name :</b></label>
      <div class="col-sm-8 col-md-8">
        <input type="text" class="form-control radius-0 font-13" placeholder="User Name" readonly
          [(ngModel)]="userName">
      </div>
    </div>
  </div>
  <div class="modal-footer pad-8">
    <button type="button" class="btn btn-success radius-0" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger radius-0" (click)="c()">Cancel</button>
  </div>
</ng-template>
<!--<notifier-container></notifier-container>-->